$brand-primary-color: #3A3F50;
$brand-primary-light-color: #4A5061;
$brand-accent-color: #57D3F1;
$brand-white: #FFFFFF;
$brand-menu-white: #F2F2F4;

$okay-green: #2ECC71;
$panic-red: #D0021B;
$uncomfortable-orange: #F5A623;
